.Post_wrapper {
	border-radius: 25px;
	padding: 0.5em 1em 1em 1em;
	margin-bottom: 2.5em !important;
	background: #f0f0f0;
	box-shadow: inset 3px 3px 24px -6px #0000001a,
				3px 3px 24px -12px #ffffff1a;
}

.Post {
	position: relative;
}

.Post_user-picture {
	padding-top: 0.5em;
}

.Post_like {
	display: flex;
	align-items: center;
	bottom: -2.75em;
	font-size: 1em;
	color: #000000b0;
}

.Post_like img {
	height: 1em;
	margin: 0 0.5em;
	fill: #000000b0;
}

.Post_timestamp, .Post_like {
	position: absolute;
	right: 0;
}