.Post_wrapper {
	border-radius: 25px;
	padding: 0.5em 1em 1em 1em;
	margin-bottom: 2.5em !important;
	background: #ffffffb0;
	box-shadow: 3px 3px 24px -12px #ffffff1a;
}

.Post {
	position: relative;
}

.Post_user-picture {
	padding-top: 0.5em;
}

.Post_meta-content {
	display: flex;
	align-items: center;
	bottom: -2.75em;
}

.Post_like {
	display: flex;
	align-items: center;
	font-size: 1em;
	color: #000000b0;
}

.Post_delete:hover {
	cursor: pointer;
}

.Post_delete img, .Post_like img {
	height: 1em;
	margin: 0 0.5em;
}

.Post_delete img {
	margin-right: 0;
}

.Post_timestamp, .Post_meta-content {
	position: absolute;
	right: 0;
}